include ../../global/header/header

main.main-content--about.js-about-page
    p One more page, coded in pug syntax...

<aside>
    <p>Or you can write pure html!</p>
</aside>

// This line be commented in right html syntax!!! And it will be in distr, but not in markup target!

include ../../global/footer/footer