include ../../global/header/header

main.main-content.js-main-content
    p A main page, coded in pug syntax...

<aside>
    <p>Or you can write pure html!</p>
</aside>

include ../../blocks/my_other_block/my_other_block

// This line be commented in right html syntax!!! And it will be in distr, but not in markup target!

include ../../global/footer/footer