.other-block
    .other-block__inner.
        My other included block left col
    .other-block__inner.
        My other included block right col

p You can test responsive styles (<640px), for a cols above!
p I'm use Jeet for grid. This builder is already has support for him from the box!