<!DOCTYPE html>
<html lang="ru">
head
    meta(charset="utf-8")
    title MyProject
    link(rel="stylesheet" href="../../css/style.css" media="screen")
    <!--[if IE]>
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    // @todo: add modernizer or shim and other respond.js
    script(type="text/javascript" src="../../js/core.js")
    script(type="text/javascript" src="../../js/vendor.js")
    script(type="text/javascript" src="../../js/main.js")
<body>
    header
        img(src="../../assets/images/logo.png")
        <h1 class="text-opensans">MyProject</h1>
        div.js-loading